html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
}
a {
  text-decoration: none;
}
.navButton {
  color: rgba(71, 85, 105, 1);
  position: relative;
  transition: 0.3s;
}
.navButton::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgba(37, 99, 235, 0);
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.3s;
}
.navButton:hover,
.navButtonOpened {
  color: rgba(37, 99, 235, 1);
}
.navButton:hover::after,
.navButtonOpened::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgba(37, 99, 235, 1);
  position: absolute;
  bottom: -4px;
  left: 0;
}

.primaryButton {
  color: rgba(71, 85, 105, 1);
  display: block;
  height: 44px;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  transition: 0.3s;
  border-radius: 8px;
}
.primaryButton:hover,
.primaryButtonOpen {
  background-color: rgba(37, 99, 235, 1);
  color: rgba(247, 247, 255, 1);
}
.select {
  position: relative;
  .optionsList {
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    .option {
      transition: 0.2s;
      &:hover {
        color: rgb(37, 99, 235);
      }
    }
  }
  &:hover .optionsList {
    visibility: visible;
    opacity: 1;
    transition: 0.2s;
  }
  &::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-right: 2px solid rgb(88, 96, 101);
    border-bottom: 2px solid rgb(88, 96, 101);
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -65%) rotate(45deg);
    transition: 0.2s;
  }
  &:hover::after {
    transform: translate(0, -35%) rotate(225deg);
  }
}
#root {
  background-color: white;
  color: black;
  width: 100%;
  padding: 0;
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  max-width: 1280px;
  .header {
    height: 80px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: content-box;
    max-width: 1280px;
    .navigation {
      width: 404px;
      display: flex;
      justify-content: space-between;
      .logo {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.6px;
        vertical-align: middle;
        color: rgba(37, 99, 235, 1);
      }
      .navButtons {
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0px;
        width: 242px;
      }
    }
    .auth {
      width: 215px;
      display: flex;
      justify-content: space-between;
    }
  }
  .main {
    flex-grow: 1;
    width: 100%;
    max-width: 1280px;
    .section {
      width: 100%;
      padding-left: 32px;
      padding-right: 32px;
    }
    .intro {
      background:
        linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.4) 0%,
          rgba(255, 255, 255, 0.2) 50%,
          #f8f9fb 100%
        ),
        url("./assets/ModerCoworkingSpace.png");
      background-size: 100% calc(100% + 1px);
      background-position: center;
      padding-top: 150px;
      padding-bottom: 158px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .title {
        width: fit-content;
        margin-bottom: 24px;
        & > div {
          text-align: center;
          font-weight: 800;
          font-size: 72px;
          line-height: 72px;
          letter-spacing: -3.6px;
          text-align: center;
          vertical-align: middle;
        }
        .top {
          color: rgba(43, 52, 56, 1);
        }
        .bottom {
          color: rgba(37, 99, 235, 1);
        }
      }
      .description {
        font-weight: 500;
        font-size: 20px;
        line-height: 32.5px;
        letter-spacing: 0px;
        text-align: center;
        vertical-align: middle;
        color: rgba(43, 52, 56, 1);
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 8px;
        max-width: 672px;
        padding: 8px 0;
        margin: 0;
        margin-bottom: 56px;
      }
      .searchBar {
        width: 1008px;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 8px;
        box-shadow: 0px 0px 0px 8px rgba(241, 244, 247, 1);
        display: flex;
        gap: 8px;
        padding: 12px;
        .chose {
          width: 100%;
          height: 60px;
          border-right: 1px solid rgba(171, 179, 185, 0.15);
          display: flex;
          flex-direction: column;
          padding: 8px 16px;
          gap: 4px;
          .label {
            font-weight: 700;
            font-size: 10px;
            line-height: 15px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: rgba(88, 96, 101, 1);
          }
          .selected {
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0px;
            vertical-align: middle;
            color: rgba(43, 52, 56, 1);
          }
          img {
            transform: translate(0, 2px);
            margin-right: 4px;
          }
        }
        .buttonWrapper {
          width: 100%;
          height: 60px;
          .searchButton {
            width: 100%;
            height: 100%;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: center;
            vertical-align: middle;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            svg {
              transform: translate(0px, -1px);
            }
          }
        }
      }
    }
    .guide {
      padding-top: 96px;
      padding-bottom: 96px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 64px;
      .description {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
          color: rgba(43, 52, 56, 1);
          margin-bottom: 16px;
          font-weight: 800;
          font-size: 30px;
          line-height: 36px;
          letter-spacing: 0px;
          text-align: center;
          vertical-align: middle;
        }
        p {
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0px;
          text-align: center;
          vertical-align: middle;
          color: rgba(88, 96, 101, 1);
        }
      }
      .cards {
        width: 1024px;
        display: flex;
        justify-content: space-between;
        .card {
          width: 180px;
          display: flex;
          flex-direction: column;
          align-items: center;
          .iconContainer {
            height: 80px;
            width: 80px;
            display: flex;
            flex-shrink: 0;
            justify-content: center;
            align-items: center;
            background-color: rgba(216, 226, 255, 1);
            border-radius: 50%;
            box-sizing: content-box;
            box-shadow:
              0px 0px 0px 4px rgba(255, 255, 255, 1),
              0px 10px 15px -3px rgba(0, 0, 0, 0.1);
            margin-bottom: 24px;
          }
          .title {
            text-align: center;
            margin-bottom: 8px;
            font-weight: 700;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 0px;
            vertical-align: middle;
            color: rgba(43, 52, 56, 1);
          }
          .description {
            text-align: center;
            font-family: Inter;
            font-weight: 300;
            font-style: Regular;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: center;
            vertical-align: middle;

            color: rgba(88, 96, 101, 1);
          }
        }
      }
    }
  }
  .footer {
    width: 100%;
    max-width: 1280px;
    padding: 80px 32px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    background-color: rgba(255, 255, 255, 0.8);
    .info {
      height: 188px;
      display: flex;
      justify-content: space-between;
      gap: 48px;
      & > div {
        width: 100%;
        display: flex;
        flex-direction: column;
        .title {
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0px;
          vertical-align: middle;
          color: rgba(43, 52, 56, 1);
          margin-bottom: 10px;
        }
        .list {
          margin: 12px 0;
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          gap: 12px;
          & > a {
            display: block;
            font-weight: 500;
            width: fit-content;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0px;
            color: rgba(88, 96, 101, 1);
            transition: 0.3s;
            &:hover {
              color: rgba(37, 99, 235, 1);
            }
          }
        }
        .name {
          font-weight: 700;
          font-size: 24px;
          line-height: 32px;
          letter-spacing: 0px;
          vertical-align: middle;
          color: rgba(37, 99, 235, 1);
        }
        .text {
          font-weight: 500;
          font-size: 14px;
          line-height: 22.75px;
          letter-spacing: 0px;
          vertical-align: middle;
          color: rgba(88, 96, 101, 1);
          margin: 0;
          flex-grow: 1;
        }
        .linkLine {
          display: flex;
          gap: 16px;
          .iconButton {
            outline: none;
            border: none;
            display: flex;
            height: 40px;
            aspect-ratio: 1/1;
            background-color: rgba(241, 244, 247, 1);
            border-radius: 50%;
            transition: 0.3s;
            align-items: center;
            justify-content: center;
            svg {
              width: 16px;
              aspect-ratio: 1;
              background-repeat: no-repeat;
              background-position: center;
              transition: 0.3s;
              color: rgb(88, 96, 101);
            }
            &:hover {
              background-color: rgb(37, 99, 235);
              svg {
                color: white;
              }
            }
          }
        }
      }
      .about {
        gap: 24px;
      }
    }
    .license {
      height: 65px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      color: rgba(115, 124, 129, 1);
      .licenseText {
        margin: 0 0 8px 0;
      }
      .options {
        display: flex;
        width: 200px;
        justify-content: space-between;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0px;
        vertical-align: middle;
        height: 32px;
        & > div {
          align-items: center;
          padding: 8px 12px;
        }
        .languageSelect {
          min-width: 124px;
          flex-grow: 1;
        }
        .usd {
          padding-right: 0;
          flex-grow: 0;
          text-align: end;
        }
      }
    }
  }
}
